#main {
    margin-top: 70px;
}

.wrapper {
    width: 50%;
    position: absolute;
    top: 75px;
    right: 250px;
}

/*Wrapper для кнопок над таблицей*/
.for_btn {
    width: 100%;
    display: flex;

    margin-bottom: 35px;
}

/*Кнопки над таблицей*/
#menu_btn, #role_btn {
    background-color: white;
    width: 250px;
    border: 3px solid gray;
    border-radius: 3px;
    padding: 12px;
}

#menu_btn {
    margin-right: 30px;
}

#menu_table, #role_table  {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 100px;
    display: none;
}

td, th {
    width: 33%;
    border: 1px solid gray;
    padding: 45px 0;
    text-align: center;
}

/*Кнопка изменить*/
.change {
    background-color: white;
    border: 2px solid gray;
    border-radius: 3px;
    padding: 10px 50px;
}

.change:hover {
    color: white;
    background-color: gray;
}

/*Значения второга стобца таблицы(и роли и менюшки)*/
.values {
    display: block;
    text-decoration: underline;
    margin: 7px 0;
}

#menu_form_wrapper {
    display: none;
    width: 35%;
    z-index: 2;
    background-color: white;
    border: 1px solid black;

    position: fixed;
    top: 125px;
    left: 32%;
}

/*Форма для изменения пункта меню*/
#change_menu_form {
    padding: 10px;
    margin-top: -25px;
}

/* Кнопка отмены */
#cancel {
    color: white;
    width: 40%;
    background-color: gray;
    text-align: center;

    border: 2px solid gray;
    border-radius: 3px;
    padding: 12px 0;
    cursor: pointer;

    float: right;
}

/*Кнопка сохранить в форме*/
#save {
    color: white;
    width: 40%;
    background-color: gray;

    border: 2px solid gray;
    border-radius: 3px;
    padding: 12px 0;
}

/*Заголовок формы*/
#menu_title_form {
    font-size: 16px;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid black;
}

/*  Блок кнопок/связей  */
#menu_buttons {
    height: 200px;
    overflow-y: auto;

    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
}

/*Кнопки в формах для выбора связей*/
.edit {
    width: 95%;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.edit_set {
    background-color: gray;
    color: white;
}

.edit_unset {
    background-color: white;
    color: black;
}